# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Other shit labels are for squares 
*.swp
*.rdbg
*.pdb
*.ilk

# Folders
*.pdb
build/vc140.pdb
build/_build_cache.cmd
.ccls-cache/
*.dmp
/builds
/releases
code/nonRepo.h
/local
